body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('./assets/Back.jpg') no-repeat center center fixed;
  background-size: cover;
}

.app-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgba(255, 255, 255, 0.918);
}
